.table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  text-align: left;

  th {
    padding: 10px 25px;
    font-weight: 450;
    font-size: 16px;
  }

  td {
    padding: 0 25px;
  }

  tr {
    border-bottom: 1px solid #F0F0F0;
  }

  thead {
    width: 100%;
    background: #F9F9F9;

    th {
      cursor: pointer;
    }
  }
}

.tableContainer {
  overflow: auto;
  padding-top: 20px;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #F4F4F4;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: blue;
  }
}

